

<div class="progress-bar">
  <div class="dot blue"></div>
  <div class="bar blue"></div>
  <div class="dot blue"></div>
  <div class="bar blue"></div>
  <div class="dot blue"></div>
  <div class="bar blue"></div>
  <div class="dot blue"></div>
  <div class="bar"></div>
  <div class="dot"></div>
  <div class="bar"></div>
  <div class="dot"></div>
</div>
<p class="arrow_box">Awaiting Client Declaration</p>
