<div class="main-nav">
  <%= render 'app_menu' %>
</div>

<div class="content">
  <h5>Customer Profile</h5>

  <ul>
    <li>
      Client Name: <%= application.client_name %>
    </li>
  </ul>

  <h5>Application Progress</h5>
 <%= render 'progress' %>

</div>