<footer class="main-footer" style="width: 100%">

<div class="center" >
          <div class="header-img" style="top:30%; height:0.5em; margin-top:-.59em; float: left;">
            <%=image_tag("footerleft.png", height: 45) %>
          </div>

          <div class="header-img" style="float:right; top:20%; height:0.1em; margin-top:-.4em;">

            <%= image_tag("footerright.png", height: 35) %>
          </div>


</footer>